@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-circle {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgb(0, 0, 0);
    text-shadow:
      0.25em 0 0 rgb(0, 0, 0),
      0.5em 0 0 rgb(0, 0, 0),
      0.75em 0 0 rgb(0, 0, 0),
      1em 0 0 rgb(0, 0, 0);
  }
  40% {
    color: rgb(255, 255, 255);
    text-shadow:
      0.25em 0 0 rgb(0, 0, 0),
      0.5em 0 0 rgb(0, 0, 0),
      0.75em 0 0 rgb(0, 0, 0),
      1em 0 0 rgb(0, 0, 0);
  }
  50% {
    text-shadow:
      0.25em 0 0 rgb(255, 255, 255),
      0.5em 0 0 rgb(0, 0, 0),
      0.75em 0 0 rgb(0, 0, 0),
      1em 0 0 rgb(0, 0, 0);
  }
  60% {
    text-shadow:
      0.25em 0 0 rgb(255, 255, 255),
      0.5em 0 0 rgb(255, 255, 255),
      0.75em 0 0 rgb(0, 0, 0),
      1em 0 0 rgb(0, 0, 0);
  }
  70% {
    text-shadow:
      0.25em 0 0 rgb(255, 255, 255),
      0.5em 0 0 rgb(255, 255, 255),
      0.75em 0 0 rgb(255, 255, 255),
      1em 0 0 rgb(0, 0, 0);
  }
  80%,
  100% {
    text-shadow:
      0.25em 0 0 rgb(255, 255, 255),
      0.5em 0 0 rgb(255, 255, 255),
      0.75em 0 0 rgb(255, 255, 255),
      1em 0 0 rgb(255, 255, 255);
  }
}
