@import "tailwindcss";
@import "tw-animate-css";

@import "./css/animation.css";
@import "./css/button.css";
@import "./css/card.css";
@import "./css/logo.css";
@import "./css/styles.css";
@import "./css/theme.css";

@custom-variant dark (&:is(.dark *));
